@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.input-hero {
  background: linear-gradient(
    121.89deg,
    #ffffff -125.51%,
    rgba(255, 255, 255, 0) 114.64%
  );
}

.text-hero {
  background: linear-gradient(180deg, #5c3eaf 0%, #d279f5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.gdr-auction-1 {
  background: linear-gradient(
    180deg,
    rgba(151, 71, 255, 0.47) -75.4%,
    rgba(210, 121, 245, 0.06) 100%
  );
}

.btn-trans {
  background: linear-gradient(
    199.4deg,
    rgba(255, 255, 255, 0.26) -100.6%,
    rgba(255, 255, 255, 0) 137.27%
  );
}

.gdr-auction-2 {
  background: linear-gradient(
    137.8deg,
    rgba(255, 255, 255, 0.43) -196.41%,
    rgba(255, 255, 255, 0) 122.07%
  );
}

.gdr-categories {
  background: linear-gradient(
    180deg,
    rgba(151, 71, 255, 0.47) -75.4%,
    rgba(210, 121, 245, 0.06) 100%
  );
}
